EXPO_PUBLIC_STORYBOOK_ENABLED=false

# Publish it to GITHUB Actions secrets
EAS_OWNER=your_eas_owner_here
EAS_PROJECT_ID=your_eas_project_id_here

# Publish it to EAS secrets
EXPO_PUBLIC_MAPS_SECRET=your_google_maps_api_key_here
